#placeholder .button {
    position: absolute;
    cursor: pointer;
}

#placeholder div.button {
    font-size: smaller;
    color: #999;
    background-color: #eee;
    padding: 2px;
}

input[type=checkbox] {
    width: 12px;
    height: 12px;
    display: inline;
}

.legend-color {
    border: 1px solid #ccc;
    padding: 1px;
    width: 14px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.legend-label {
    width: auto;
    /*250px;*/

    display: inline-block;
    vertical-align: top;
}

#tooltip-title {
    font-weight: bold;
}

.div-table {
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left;
    display: table-column;
    width: auto;
}

.col-right {
    padding-left: 10px;
    float: right;
}
