extends layout

block content
  .row
    .col-lg-6
      h1= pageHeader.title
  .row
    .col-xs-8(id="detail-placeholder", style="width:600px; height:300px;")
    .col-xs-4(id="detail-legend", style="height:100px;")
  .row
    .col-xs-8(id="overview-placeholder", style="width:600px; height:75px;")
  .row
    button(id="show-all") Show all
