extends layout

block content

  div(id="target")
    .row
      .col-lg-6
        h1= pageHeader.title
        i.fa.fa-spinner.fa-spin(id="spinner", style="font-size: 5em; display: none;")
    .row
      .col-xs-8(id="detail-placeholder", style="width:600px; height:300px;")
      .col-xs-4(id="detail-legend", style="height:100px;")
    .row
      .col-xs-8(id="overview-placeholder", style="width:600px; height:75px;")
