extends layout

block content
  .row
    .col-lg-6
      h1= pageHeader.title
  .row
    .col-xs-6(id="detail-placeholder", style="width:600px; height:300px;")
    .col-xs-2(id="detail-legend", style="width: 200px; height:100px;")
  .row
    div(id="overview-placeholder", style="width:600px; height:100px;")
  .row
    button(id="show-all") Show all
